/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  
  body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #008cff, #005bb5);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: flex-end; /* Align content to the right */
    align-items: center;
    padding-right: 50px; /* Add spacing from the edge */
  }
  
  .container {
    text-align: left; /* Align text inside the section */
    max-width: 400px; /* Limit width for the text section */

  }
  
  .text-section h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: white; /* Text color */
    -webkit-text-stroke: 2px #005bb5; /* Stroke effect */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Optional shadow for depth */
    text-align: end;
    
  }
  
  .text-section p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: end;
  }
  
  button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #005bb5;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  

  
  