*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: Arial, Helvetica, sans-serif;
}
.headersection{
   justify-content: flex-end;
   display: flex;
   align-items: center;
   height: 90vh;
   background-image:url('images/banner3.png');
   background-repeat: no-repeat;
  margin: 0 auto;
  max-width: 1600px;
}
.headersection h1{
    margin: 10px;
    margin-bottom: 10px;
    font-size: 60px;
    color: white;
    text-align: end;
    
}
.headersection p{
 text-align: end;
 margin: 10px;
 color: #ffffff;
 line-height: 25px;

}

.boxs{
margin-right: 250px;
}

.btn{
    text-align: right;
    margin: 10px;
   
}
.btn button{
    padding: 14px 20px;
    background-color: #ffffff;
    color: #005bb5;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
    
}
.btn button:hover{

        background-color: #005bb5;
        color: #ffffff;
    
}
/* ======================================== */

.mainin{
    display: flex;
    padding: 50px 320px;
    align-items: center;
}

.mainin .failures{
    width: 50%;
    align-items: center;
}
.failures h1{
    margin-bottom: 25px;
}
.failures p{
    margin-bottom: 15px;
    line-height: 25px;
}

.failures ul{
    margin-left: 30px;
    margin-top: 30px;
}
ul li{
    margin-bottom: 15px;
    list-style-type: square;
    
}
.listcol{
    padding-top: 80px;
}

/* =============================================== */

.plans{
    display: flex;
    justify-content: center;
    text-align: center;

}
#my{
    text-align: center;
    margin-bottom: 30px;
    font-weight: bolder;

}

.plans .plan{
    margin: 50px;
    text-align: center;
}
.plan h2{
    margin:10px;
}
.plan p {
    margin-top: 20px;
    color: #737272;
    font-weight: bold;

}
.posivole{
    width: 1000px;
    height: 400px;
    background-image:url('images/gradient1.png'),url('images/watch.png');
    margin: 10px  auto;
    margin-top: 50px;
    background-repeat: no-repeat;
    border-radius: 10px;
  

}
  

.posivole > p{

   
    margin-left: 70px;


   
}
.posivole button{
    padding: 14px 20px;
    background-color: #ffffff;
    color: #005bb5;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
    
}
.posivole h1{
    padding: 80px 65px 10px 65px;
    color: #ffffff;
    font-weight: bold;
   

}
.posivole button:hover{

    background-color: #005bb5;
    color: #ffffff;

}
.footer-main{
    display: flex;
    background-color: #151414;
    color:#ffffff;
}
.footer-part{
    width: 50%;
   padding: 100px 0 100px 200px;
}
.footer-part button{
    padding: 17px 35px;
    background-color: #005bb5;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    margin-top: 5px;
}
.footer-part input{
    padding: 10px 50px 10px 10px; 
    margin-top: 15px;
    border: #ffffff solid 1px;
    background-color: unset;
    border-radius: 5px;
    color: #ffffff;
    margin: 20px 0;
}
.footer-part input::placeholder{
    color:#ffffff ;
}
.footer-part p{
    margin: 10px;
    color:#737272;
}
.footer-part ul{
    margin-left: 10px;
}
.footer-part h1{
    margin-left: 10px;

}
.footer-part a{
    margin-left: 10px;
}

